<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Encode Sans Semi Condensed' rel='stylesheet'>
</head>
<body>
    <section class = "login_page_section">
  <div class="background-image"></div>
  <div class ="half-container">
  <div class="login-container">
    <div class="login-child-container">
        <div class="logo-container">
            <img src="{% static 'logo.png' %}" alt="Logo">
        </div>
        <div class="login-form-container">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-group-split">
                <button type="submit" class="btn btn-primary">Next</button>
                <div class="forgot-password">
                    <a href="#">Forgot Password?</a>
                  </div>
                </div>
            </form>
            {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
        </div>
        <div class="copy-container">
            <p>&copy; 2023 WindSmart.</p>
        </div>
    </div>
</div>
</div>
</section>
</body>
</html>
