<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard Page</title>
  <link rel="icon" href="../static/Group.png" type="image/icon type">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
  <link rel="preload" href="{% static 'notification_icon.png' %}" as="image">
  <link rel="preload" href="../static/turbine2-removebg-preview.png" as="image">
  <link href='https://fonts.googleapis.com/css?family=Encode Sans Semi Condensed' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.0/js/OverlayScrollbars.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.13.0/css/OverlayScrollbars.min.css">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Encode Sans Semi Condensed' rel='stylesheet'>
</head>
<body>


    <div class="container-dashboard">
        {% block content %}
        <div id="logout-btn">
        <p>Welcome, {{ user.username }}!</p>
        
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Log out</button>
          </form>
        </div>
      {% endblock %}
        <div class="container-dashboard-child">
            <div id="settings-container" style="display: none;">
                <div class = "notification-settings">
                    <div class = "form-box">
                    <div class = "current-values">
                        <h3>Thresholds for real-time data:</h3>
                        <form method="post" >
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="form1">
                            <div class="form-group">
                              <label for="temperature-min">Temperature Min:</label>
                              <input type="number" id="temperature-min" step="0.1" name="temperature-min" value="{{ temperature_min }}">
                            </div>
                            <div class="form-group">
                              <label for="temperature-max">Temperature Max:</label>
                              <input type="number" id="temperature-max" step="0.1" name="temperature-max" value="{{ temperature_max }}">
                            </div>
                            <div class="form-group">
                              <label for="power-min">Power Min:</label>
                              <input type="number" id="power-min" step="0.1" name="power-min" value="{{ power_min }}">
                            </div>
                            <div class="form-group">
                              <label for="power-max">Power Max:</label>
                              <input type="number" id="power-max" step="0.1" name="power-max" value="{{ power_max }}">
                            </div>
                            <button type="submit" id="current-submit">Set Values</button>
                          </form>
                    </div>
                </div>
            </div>
            </div>
            <div class="notifications-container">
                <p class = "notification-message"></p>
                <div class="notifications">
                    
                    <img src="{% static 'notification_icon.png' %}" alt="Notification" class="notifications-icon" title="Setup a new notification" onclick="toggleSettings()">
                </div>
            </div>
            <div class="first-inline">
                <div class="boxes-container">
                    <div class="temperature-picture">
                        <div class="temperature"></div>
                        <div class="temperature-box">
                            <div class="temperature-text">
                                <p>Temperature</p>
                            </div>
                            <div id="temperature"></div>
                        </div>
                    </div>
                    <div class="new-box">
                        <div class="new-box-text">
                            <p>24h Predicted Energy</p>
                        </div>
                        <div class="new-box-value" id="total-predicted-energy"></div>
                    </div>
                </div>
                <div class="prediction">
                    <div class="predicted-container">
                        <p>Real-Time Energy Production</p>
                        <div class="predicted-graph-container">
                            <canvas id="energyGraph" style="position: relative; height:25vh"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-inline">

                <div class="real-time" style="overflow-x: scroll; overflow-y: hidden"> 
                    <div class = "real-time-container" style="position: relative;  width:780vh; height:29vh">
                        <p>Predicted Energy Production</p>
                    
                    <canvas id="predictedGraph" style="width:600px"></canvas>
                </div>
                </div>
            </div>
        </div>
    </div>  


    <script>



        function updateTemperature() {
            $.get("/dashboard/get_temperature/", function(data) {
                console.log(data);
                $("#temperature").html(data.temperature + "&deg;C");
            });
        }
        
        $(document).ready(function() {
            // Call updateTemperature once when the page is loaded
            updateTemperature();
    
            // Call the updateTemperature function every x seconds
           setInterval(updateTemperature, 1000);
        });

        $(document).ready(function() {
            var ctx = document.getElementById('energyGraph').getContext('2d');
            var chart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: [],
                datasets: [{
                  label: 'Power',
                  position: 'right',
                  data: [],
                  borderColor: '#1D67B1',
                  backgroundColor: '#fff',
                  borderWidth: 2,
                  pointRadius: 0,
                }]
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                y: {
                    min: 0,
                    suggestedMax: 1,
                    title: {
                      display: true,
                      text: 'Power, W'
                    },
                    stepSize: 1
                    }
                  }
                
              }
            });
        
            // Function to update energy data
            function updateEnergyData() {
                $.get("/dashboard/get_power/", function(data) {
                  console.log(data);
                  var rows = data;
                  var lastTenRows = rows.slice(-10);
                  var powerData = lastTenRows.map(row => parseFloat(row.Power));
                  var dateLabels = lastTenRows.map(row => new Date(row.Date).toLocaleTimeString('en-US', {hour12:false}));
                  chart.data.labels = dateLabels.reverse();
                  chart.data.datasets[0].data = powerData.reverse();
                  chart.data.datasets[0].pointStyle = 'circle';
                  chart.data.datasets[0].pointRadius = 3;
                  chart.data.datasets[0].pointBackgroundColor = 'blue';
                  chart.options.plugins.legend.align = 'end';
                  chart.update();
                });
              }
          
            // naujinti kai užkraunamas puslapis
            updateEnergyData();
          
            // naujinti kas 2s
            setInterval(updateEnergyData, 2000);
          });



          $(document).ready(function() {
            var ctx = document.getElementById('predictedGraph').getContext('2d');
            var chart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: [],
                datasets: [{
                  label: 'Power',
                  data: [],
                  yAxisID: 'power', 
                  borderColor: '#1D67B1',
                  backgroundColor: '#fff',
                  borderWidth: 2,
                  pointRadius: 0,
                }, {
                  label: 'Wind Speed',
                  data: [],
                  yAxisID: 'wind', 
                  borderColor: '#FFA500',
                  backgroundColor: '#fff',
                  borderWidth: 2,
                  pointRadius: 0,
                }]
              },
              options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                  power: {
                    type: 'linear',
                    position: 'left',
                    beginAtZero: true,
                    title: {
                      display: true,
                      text: 'Power, W'
                    },
                    stepSize: 1
                  },
                  wind: {
                    type: 'linear',
                    position: 'right',
                    beginAtZero: true,
                    title: {
                      display: true,
                      text: 'Wind Speed, m/s'
                    },
                    grid: {
                      drawOnChartArea: false
                    },
                  },
                },
              },
            });
            
            
// Function to update energy data
function updatePredictedEnergyData() {
  $.get("/dashboard/get_predicted_data/", function(data) {
    console.log(data);
    var rows = data;
    var currentDate = new Date();
    var nextDay = new Date(currentDate.getTime() + (24 * 60 * 60 * 1000));
    var filteredRows = rows.filter(row => {
      const localDate = new Date(row.Date);
      const utcDate = new Date(localDate.getTime() - localDate.getTimezoneOffset() * 60 * 1000);
      return utcDate >= currentDate && utcDate <= nextDay;
    });
    var powerData = filteredRows.map(row => parseFloat(row.Predicted_voltage));
    var windSpeedData = filteredRows.map(row => parseFloat(row.Windspeed));
    const dateLabels = filteredRows.map(row => {
        const localDate = new Date(row.Date);
        const utcDate = new Date(localDate.getTime() - localDate.getTimezoneOffset() * 60 * 1000);
        const options = { 
          month: '2-digit', 
          day: '2-digit', 
          hour: 'numeric',
          minute: '2-digit', 
          timeZone: 'UTC',
          hour12: false
        };
        return utcDate.toLocaleString('en-US', options);
      });
    chart.data.labels = dateLabels;
    chart.data.datasets[0].data = powerData;
    chart.data.datasets[1].data = windSpeedData;
    chart.data.datasets[0].pointStyle = 'circle';
    chart.data.datasets[0].pointRadius = 3;
    chart.data.datasets[0].pointBackgroundColor = 'blue';
    chart.data.datasets[1].pointStyle = 'circle';
    chart.data.datasets[1].pointRadius = 3;
    chart.data.datasets[1].pointBackgroundColor = 'orange';
    chart.options.plugins.legend.align = 'end';
    chart.options.barPercentage = 0.8;
    chart.options.maxBarThickness = 30;
    chart.update();
  });
}
  
  // Call updateEnergyData once when the page is loaded
  updatePredictedEnergyData();
  
  // Call the updateEnergyData function every x seconds
  setInterval(updatePredictedEnergyData, 20000);
        });





          function toggleSettings() {
            var settingsContainer = document.getElementById("settings-container");
            if (settingsContainer.style.display === "none") {
                settingsContainer.style.display = "block";
            } else {
                settingsContainer.style.display = "none";
            }
        }

        const messageElement = document.querySelector('.notification-message');
        let messages = []; // an array to store all the messages
        let messageIndex = 0; // index of the message currently being displayed
        
        // update the message every second
        setInterval(() => {
          if (messages.length > 0) {
            // show the next message in the array
            messageElement.textContent = messages[messageIndex];
            // move to the next message in the array
            messageIndex = (messageIndex + 1) % messages.length;
          } else {
            // no messages, clear the content of the element
            messageElement.textContent = 'No threshold values are breached';
          }
        }, 1000);
        
        function fetchTemperatureData() {
            const temperatureUrl = "/dashboard/get_temperature/";
            fetch(temperatureUrl)
              .then((response) => response.json())
              .then((data) => {
                const temperatureElement = document.getElementById("temperature");
                if (data.status !== 'within_range') {
                  messages.push(data.message);
                  temperatureElement.classList.add("temperature-red");
                } else {
                  // remove messages related to temperature from the array
                  messages = messages.filter(message => !message.includes("Temperature"));
                  temperatureElement.classList.remove("temperature-red");
                }
                temperatureElement.textContent = data.temperature + "°C";
              });
          }
        
          function fetchPowerData() {
            const powerUrl = "/dashboard/get_power/";
            fetch(powerUrl)
              .then((response) => response.json())
              .then((data) => {
                const lastDataPoint = data[0];
                if (lastDataPoint.status !== 'within_range') {
                  messages.push(lastDataPoint.message);
                } else {
                  // remove messages related to power from the array
                  messages = messages.filter(message => !message.includes("Energy production"));
                }
                
                // update the threshold message element
                if (messages.length > 0) {
                  messageElement.textContent = messages[messageIndex];
                }
              });
          }
        
        // fetch the data and check the thresholds every x seconds
        setInterval(() => {
          fetchTemperatureData();
          fetchPowerData();
        }, 1000);
        

        function updatePredictedData() {
            $.get("/dashboard/get_predicted_data/", function(data) {
              console.log(data); // Debug statement
              var rows = data;
              var energyData = rows.filter(function(row) {
                return row.Predicted_voltage !== null;
              });
              if (energyData.length > 0) {
                var totalEnergy = energyData.reduce(function(sum, row) {
                  return sum + row.Predicted_voltage;
                }, 0);
                $("#total-predicted-energy").html(totalEnergy.toFixed(2) + " W");
              }
            });
          }
          
          $(document).ready(function() {
            // Call updatePredictedData once when the page is loaded
            updatePredictedData();
          
            // Call the updatePredictedData function every x seconds
            setInterval(updatePredictedData, 20000);
          });

</script>


</body>
</html>

